*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: cyan;
}
body div.micalculadora{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 240px;
    margin: 0 auto;
    background: darkblue;
    border-radius: 10px;
}
div input[type='button'], button{
    width: 40px;
    height: 40px;
    margin: 3px 0;
}
div input[type= 'text']{
    height: 40;
    width: 200px;
    background-color: whitesmoke;
    color: black;
    padding: 12px 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #777;
}
div.resultado input, div.resultado button{
    height: 40px;
    width: 85px;
    margin-top: 2px;
    margin-bottom: 8px;
    border-radius: 4px;
}
div.resultado button{
    background-color:burlywood;
    color: white;
    border: 3px solid black;

}

#suma, #resta, #div, #mult, #porcent{
    background-color: blanchedalmond;
    border: 2px solid black;
}
